@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Web GIS Application</title>
    <link rel="stylesheet" href="https://unpkg.com/ol@6.5.0/dist/ol.css" />
    <script src="https://unpkg.com/ol@6.5.0/dist/ol.js"></script>
    <script src="~/js/map.js"></script>
</head>
<body>
    <div id="map" class="map"></div>
</body>
</html>

